.git
.github
.icode
node_modules
vendor
public/build
public/hot
public/storage
storage/app/archive
bootstrap/cache/*.php
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite*
.env
.env.*
!.env.example
tests
*.md
